@model StokViewModel
@{
    ViewData["LayoutTitle"] = "Stok Oluştur";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li>
                <a asp-action="Index"><span>Tanımlamalar</span></a>
            </li>

            <li>
                <a asp-action="StokTanimlar"><span>Stok Tanımlar</span></a>
            </li>

            <li>
                <a asp-action="Stoklar"><span>Stoklar</span></a>
            </li>

            <li><span class="text-light">Stok Oluştur</span></li>
        </ol>
    </div>
</header>

<form id="form" class="ecommerce-form action-buttons-fixed" asp-action="StokEkle" method="post">
    <div class="row">
        <div class="col">
            <section class="card modern">
                <div class="card-body">
                    <div class="row form-group pb-3">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Stok Adı</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Stok Grup</label>
                                @{
                                    var stokGrupSelectedList = Model.StokGrups?.Select(c => new SelectListItem
                                    {
                                        Value = c.Id.ToString(),
                                        Text = c.Name
                                    }).ToList();
                                }
                                <select asp-for="StokGrupId" asp-items="stokGrupSelectedList" class="form-control"
                                    required></select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Boyut Kutu Sayısı</label>
                                <select asp-for="KutuSayisi" id="kutuSayisi" class="form-control">
                                    <option value="0">Yok</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Birim</label>
                                @{
                                    var birimSelectedList = Model.Birims?.Select(c => new SelectListItem
                                    {
                                        Value = c.Id.ToString(),
                                        Text = c.Name
                                    }).ToList();
                                }
                                <select asp-for="BirimId" asp-items="birimSelectedList" class="form-control"
                                    required></select>
                            </div>
                        </div>
                    </div>
                    <div id="inputContainer" class="form-group pb-3" style="display: none;"></div>
                    <div class="form-group pb-3">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">KG Formül</label>
                                <input asp-for="KGFormül" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">M2 Formül</label>
                                <input asp-for="M2Formül" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">MM Formül</label>
                                <input asp-for="MMFormül" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">M Formül</label>
                                <input asp-for="MFormül" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div id="fireContainer" class="row form-group pb-3" style="display: none;"></div>
                    <div id="siralamaContainer" class="row form-group pb-3" style="display: none;"></div>
                    <div class="row form-group pb-3">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Birim Fiyat Hesaplama
                                    Yöntemi</label>
                                @{
                                    var birimSelectedList2 = Model.Birims?.Select(c => new SelectListItem
                                    {
                                        Value = c.Id.ToString(),
                                        Text = c.Name
                                    }).ToList();
                                }
                                <select asp-for="BirimFiyatHesaplama" asp-items="birimSelectedList2"
                                    class="form-control" required></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Sertifika</label>
                                <select asp-for="Sertifika" class="form-control" required>
                                    <option value="">Seç</option>
                                    <option value="false">Yok</option>
                                    <option value="true">Var</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Direkt Satınalma</label>
                                <select asp-for="SatinAlma" class="form-control" required>
                                    <option value="">Seç</option>
                                    <option value="false">Yok</option>
                                    <option value="true">Var</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label" for="formGroupExampleInput">Malzeme Sorumlusu</label>
                                @{
                                    var userSelectedList = new SelectList(Model.Users, "Id", "FullName");
                                }
                                <select asp-for="StokSorumluId" asp-items="userSelectedList" class="form-control"
                                    required></select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row action-buttons justify-content-end">
        <div class="col-12 col-md-auto order-lg-1">
            <button type="button"
                class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                data-loading-text="Loading...">
                <i class="bx bx-save text-4 me-2"></i> Kaydet
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <a asp-action="Stoklar"
                class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">İptal</a>
        </div>
    </div>
</form>

@section VendorScripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/jquery-validation/localization/messages_tr.min.js"></script>
}

@section Scripts {
    <script src="~/js/examples/examples.validation.js"></script>
    <script>
        $(document).ready(function () {
            $('#kutuSayisi').change(function () {
                var selectedValue = $(this).val();

                $('#inputContainer').empty();
                $('#inputContainer').css('display', 'none');

                $('#fireContainer').empty();
                $('#fireContainer').css('display', 'none');

                $('#siralamaContainer').empty();
                $('#siralamaContainer').css('display', 'none');

                if (selectedValue > 0) {
                    $('#inputContainer').css('display', 'block');
                    $('#fireContainer').css('display', 'flex');
                    $('#siralamaContainer').css('display', 'flex');

                    $('#inputContainer').append('<div id="onculContainer" class="row"></div>');
                    $('#inputContainer').append('<div id="ayracContainer" class="row"></div>');
                    $('#inputContainer').append('<div id="boyutContainer" class="row"></div>');

                    for (var i = 0; i < selectedValue; i++) {
                        var onculValue = "";
                        var ayracValue = "";
                        var boyutValue = "";
                        if(i == 0)
                        {
                            onculValue = '@Model.Oncul1';
                            ayracValue = '@Model.Ayrac1';
                            boyutValue = '@Model.Boyut1';
                        }
                        else if(i == 1)
                        {
                            onculValue = '@Model.Oncul2';
                            ayracValue = '@Model.Ayrac2';
                            boyutValue = '@Model.Boyut2';
                        }
                        else if(i == 2)
                        {
                            onculValue = '@Model.Oncul3';
                            ayracValue = '@Model.Ayrac3';
                            boyutValue = '@Model.Boyut3';
                        }
                        else
                        {
                            onculValue = '@Model.Oncul4';
                            ayracValue = '@Model.Ayrac4';
                            boyutValue = '@Model.Boyut4';
                        }
                        
                        $('#onculContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Öncül</label>' +
                            '<input id="Oncul' + (i + 1) + '" name="Oncul' + (i + 1) + '" type="text" class="form-control" value="' + onculValue + '" />' +
                            '</div>' +
                            '</div>');

                        $('#ayracContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Ayraç</label>' +
                            '<input id="Ayrac' + (i + 1) + '" name="Ayrac' + (i + 1) + '" type="text" class="form-control" value="' + ayracValue + '" />' +
                            '</div>' +
                            '</div>');

                        $('#boyutContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Boyut</label>' +
                            '<input id="Boyut' + (i + 1) + '" name="Boyut' + (i + 1) + '" type="text" class="form-control" value="' + boyutValue + '" />' +
                            '</div>' +
                            '</div>');
                        
                        if(i === 0)
                        {
                            $('#fireContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Fire</label>' +
                            '<select id="Fire1" name="Fire1" class="form-control" required>' +
                            '<option value="False">Yok</option>' +
                            '<option value="True">Var</option>' +
                            '</select>' +
                            '</div>' +
                            '</div>');   
                        }

                        if(i === 1)
                        {
                            $('#fireContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Fire</label>' +
                            '<select id="Fire2" name="Fire2" class="form-control" required>' +
                            '<option value="False">Yok</option>' +
                            '<option value="True">Var</option>' +
                            '</select>' +
                            '</div>' +
                            '</div>');   
                        }   

                        if(i === 2)
                        {
                            $('#fireContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Fire</label>' +
                            '<select id="Fire3" name="Fire3" class="form-control" required>' +
                            '<option value="False">Yok</option>' +
                            '<option value="True">Var</option>' +
                            '</select>' +
                            '</div>' +
                            '</div>');   
                        }   

                        if(i === 3)
                        {
                            $('#fireContainer').append('<div class="col-lg-3">' +
                            '<div class="form-group">' +
                            '<label class="col-form-label">Fire</label>' +
                            '<select id="Fire4" name="Fire4" class="form-control" required>' +
                            '<option value="False">Yok</option>' +
                            '<option value="True">Var</option>' +
                            '</select>' +
                            '</div>' +
                            '</div>');   
                        }                         

                        if (selectedValue == 1) {
                            $('#siralamaContainer').append('<div class="col-lg-3">' +
                                '<div class="form-group">' +
                                '<label class="col-form-label">Sıralama</label>' +
                                '<select id="Siralama' + (i + 1) + '" name="Siralama' + (i + 1) + '" class="form-control" required>' +
                                '<option value="0">Yok</option>' +
                                '<option value="1">1. Kutu</option>' +
                                '</select>' +
                                '</div>' +
                                '</div>');
                        }
                        else if (selectedValue == 2) {
                            $('#siralamaContainer').append('<div class="col-lg-3">' +
                                '<div class="form-group">' +
                                '<label class="col-form-label">Sıralama</label>' +
                                '<select id="Siralama' + (i + 1) + '" name="Siralama' + (i + 1) + '" class="form-control" required>' +
                                '<option value="0">Yok</option>' +
                                '<option value="1">1. Kutu</option>' +
                                '<option value="2">2. Kutu</option>' +
                                '</select>' +
                                '</div>' +
                                '</div>');
                        }
                        else if (selectedValue == 3) {
                            $('#siralamaContainer').append('<div class="col-lg-3">' +
                                '<div class="form-group">' +
                                '<label class="col-form-label">Sıralama</label>' +
                                '<select id="Siralama' + (i + 1) + '" name="Siralama' + (i + 1) + '" class="form-control" required>' +
                                '<option value="0">Yok</option>' +
                                '<option value="1">1. Kutu</option>' +
                                '<option value="2">2. Kutu</option>' +
                                '<option value="3">3. Kutu</option>' +
                                '</select>' +
                                '</div>' +
                                '</div>');
                        }
                        else {
                            $('#siralamaContainer').append('<div class="col-lg-3">' +
                                '<div class="form-group">' +
                                '<label class="col-form-label">Sıralama</label>' +
                                '<select id="Siralama' + (i + 1) + '" name="Siralama' + (i + 1) + '" class="form-control" required>' +
                                '<option value="0">Yok</option>' +
                                '<option value="1">1. Kutu</option>' +
                                '<option value="2">2. Kutu</option>' +
                                '<option value="3">3. Kutu</option>' +
                                '<option value="4">4. Kutu</option>' +
                                '</select>' +
                                '</div>' +
                                '</div>');
                        }
                    }
                }

                $("#Siralama1").val(@Model.Siralama1);
                $("#Siralama2").val(@Model.Siralama2);
                $("#Siralama3").val(@Model.Siralama3);
                $("#Siralama4").val(@Model.Siralama4);
                $("#Fire1").val("@Model.Fire1");                
                $("#Fire2").val("@Model.Fire2");                
                $("#Fire3").val("@Model.Fire3");                
                $("#Fire4").val("@Model.Fire4");                
            });

            $('#kutuSayisi').trigger('change');
        });
    </script>
}